body {
  font-family: "Lobster Two", "Lobster", "Deftone Stylus", "Fontleroy Brown",
    "Grand Hotel", "FF Jackie Block", "Mission Script", "Pacifico", "Playball",
    "Retroactive", "Sofia";
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: relative;
}

#eventImage {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

.animated-border {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #ffffff;
  background: #bc2303;
}

.animated-text {
  display: inline-block;
  animation: moveText 10s linear infinite;
}

@keyframes moveText {
  10%,
  60% {
    transform: translateX(100%);
  }
  60% {
    transform: translateX(-100%);
  }
}

.ticket-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  text-align: right;
  background: white;
  border-radius: 5px;
}

.ticket {
  border: 1px solid #ddd;
  padding: 40px 20px;
  margin: 10px;
  height: 300px;
  width: calc(
    45% - 20px
  ); /* Two sections in a row with 20px margin in between */
  text-align: right;
  box-sizing: border-box;
  background-size: 400% 400%;
  animation: gradientAnimation 5s ease infinite;
  border-radius: 5px;
}

.platinum-ticket {
  background-image: url(../assets/fifth-image.jpg);
  background-size: cover;
}

.comfort-ticket {
  background-image: url(../assets/fourth-image.jpg);
  background-size: cover;
}

.vip-ticket {
  background-image: url(../assets/third-image.jpg);
  background-size: cover;
}

.regular-ticket {
  background-image: url(../assets/second-image.jpg);
  background-size: cover;
}

.get-tickets-btn {
  background-color: #bc2303;
  color: #f5db51;
  padding: 10px 10px;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin-top: 29px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
}
.get-tickets-btn:hover,
.platinum-ticket-link:hover,
.comfort-ticket-link:hover {
  background: #f5db51;
  color: #bc2303;
  cursor: pointer;
}
.platinum-ticket-link,
.comfort-ticket-link {
  text-decoration: none;
  color: #f5db51;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Media query for responsive layout */
@media screen and (max-width: 768px) {
  .ticket {
    width: calc(100% - 20px); /* One section in a row on smaller screens */
  }

  .animated-text {
    font-size: 18px;
  }
}

/* Media query for large screen layout */
@media screen and (min-width: 768px) {
  #eventImage {
    width: 70%;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  transition: opacity 0.75s, visibility 0.75s;

}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #B08D57;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn)
  }
  to {
    transform: rotate(1turn);
  }
}

.submit-form-button {
  margin-top: 20px;
  position: relative;
  padding: 8px 16px;
  background: #4d2e04;
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
}

.submit-form-button:active {
  background: #918054;
}

.btn-text {
  font: bold 20px "Quicksand", sans-serif;
  color: #fff;
  transition: all 0.1s;
}

.button--loading .btn-text {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.button--loading::after {
  pointer-events: none;
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: #918054;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 5px solid transparent;
  border-top-color: #fff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
